
tr.a {
    color: white;
}
table.b {
    text-align: center;
}
.b td{
    width: 80px;
    height: 20px;
}
.c td, .c th ,.c {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold ;
}

.c td {
    height: 30px;
    width: 80px;
}
td:nth-child(7){
    color: blue;
}
td:nth-child(1){
    color: red;
}


